wheel
streamlit==1.32.2
pandas==2.2.2
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
plotly==5.21.0
camelot-py[cv]==0.11.0
pdfplumber==0.11.0
python-dotenv==1.0.1
pytest==8.2.1
prophet==1.1.5
scikit-learn==1.5.0
